.todo-container-main{
    height: 100vh;
    background-color: #282c34;
    color: white;
}
.main-container{
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #282c34;
}

/* .todo-items-container{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 20px;
    flex-wrap: wrap;
} */

.todo-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 270px;
    color:#ffffff;
    background-color: black;
    padding:30px;
    margin:8px;
    border-radius: 6px;
}

.todo-item-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.todo-task{
    margin-left:8px;
    margin-right: 8px;
}

.todo-task-check{
    text-decoration: line-through;
    margin-left:8px;
    margin-right: 8px;
}

.check-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor:pointer;
}

.trash-button{
    background-color: transparent;
    border: none;
    color:#ffffff;
    cursor: pointer;
}

.item-description-style{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    overflow: hidden;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}